* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
body {
  max-width: 1020px;
  margin: auto;
  font-family: "Lato";
}
a {
  list-style-type: disc;
  color: #ffffff;
  text-decoration: none;
}
a:hover {
  color: #f06c64;
}
.nav_bar {
  height: 95px;
  background-color: #323746;
}
.nav_bar__main {
  height: 89px;
}
.nav_bar__logo {
  float: left;
  margin: 35px 40px;
  font-weight: 700;
  font-size: 25px;
  text-align: left;
  color: #ffffff;
}
span {
  color: #f06c64;
}
.nav_bar__list {
  float: right;
  width: 420px;
  margin: 45px 40px 35px auto;
  line-height: 6px;
}
.nav_bar__list-item {
  display: inline;
  margin: 0 auto;
  margin: 0 15px;
  list-style-type: disc;
  font-size: 12px;
  text-align: left;
}
.nav_bar__bottom {
  height: 6px;
  background-color: #2d303a;
}
