* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
body {
  max-width: 1020px;
  margin: auto;
  font-family: "Lato";
}
a {
  list-style-type: disc;
  color: #ffffff;
  text-decoration: none;
}
a:hover {
  color: #f06c64;
}
.nav_bar {
  display: inline-flex;
  width: 1020px;
  height: 95px;
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
}
.nav_bar__logo {
  float: left;
  margin: 30px 40px;
  font-weight: 700;
  font-size: 25px;
  color: #ffffff;
}
span {
  color: #f06c64;
}
.nav_bar__list {
  display: inline-flex;
  align-items: center;
  margin: 45px 35px 40px auto;
  list-style: circle;
  line-height: 6px;
  color: #ffffff;
}
.nav_bar__list-item {
  margin-left: 30px;
  font-size: 12px;
}
